#container {
    text-align: center;
}

#userAvatar {
    border: 2px solid black;
}

#articles {
    list-style: none;
}

#articles > li > a {
    text-decoration: none;
    color: black;
}

#articles > li > a:hover {
    color: lightslategrey;
    font-weight: bold;
}
